 :root{
     --font: 18px;
     --cor1: #f9f9f9;
     --cor2: #dddddd;
     --cor3: #999999;
     --cor4: #232323;
     --cor5: #4030ab;
 }

 *{
     margin: 0px;
     border: 0px;
     padding: 0px;
 }

 html{
     font-size: var(--font);
 }

 body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: var(--cor2);
     color: var(--cor4);
 }

 nav{
     font-size: 1.5rem;
     font-weight: bold;
     text-align: left;
     background-color: var(--cor1);
     border-bottom: 1px solid var(--cor2);
     padding: 15px 0px;
     position: fixed;
    width: 100%;
    top: 0;
 }

 .logotipo{
     padding-left : 10%;
     display: inline-block;
 }

 .logotipo span{
     color: var(--cor5);
 }

 .menu{
     padding-right: 10%;
     float: right;
 }

 .menu a{
     font-size: 1.2rem;
     text-decoration: none;
     color:  var(--cor4);
     padding: 8px 15px;
 }

 .menu a:hover{
     background-color: var(--cor5);
     color: var(--cor1);
     border-radius: 10%;
     transition: 0.3s;
 }
 section{
     width: 70%;
     margin: auto;
     margin-bottom: 65px;
     margin-top: 75px;
 }

 .foto{
     width: 50% auto;
     float: left;
     padding: 5px;
     border-radius: 5px;
     border: 2px solid var(--cor2);
     background-color: var(--cor1);

     /*margin-right: 15px;*/
 }
 article{
     padding: 15px;
     margin: 10px 0;
     overflow: hidden;
 }
 h1{
     margin-bottom: 25px;
 }
 p{
     text-align: justify;
    line-height: 35px;
 }

 footer{
     width: 100%;
     text-align: center;
     padding: 20px;
     color: var(--cor3);
     background-color: var(--cor4);
     opacity: 0.7;
     position: fixed;
     bottom: 0;
 }

 /* === Media Queries === */

 /* Extra small (xs): Smartphone (portrair - retrato)*/
 @media (min-width: 360px) {
    section{
        width: 90%;
        background-color: aqua;
        margin-top: 110px;
    }
    img{
        width: 96%;
    }
 }

 /*Small (sm): Smartphone (landscape - paisagem) */
 
 @media (min-width: 576px) {
    section{
        width: 96%;
        margin-top: 110px;
        background-color: #ffd970;
    }
    img{
        width: 35%;
    }
    .foto{
        margin-right: 15px;
    }
 }

 /*Medium (md): Tablet */

 @media (min-width: 768px) {
    section{
        width: 80%;
        margin-top: 75px;
        background-color: #ff70f3;
    }
    img{
        width: 25%;
    }
 }

 /*Large (lg):  Notbook */

 @media (min-width: 992px) {
    section{
        background-color: #7085ff;
    }
    img{
        width: 15%;
    }
 }

  /* Extra Large (xl):  Computador */

 @media (min-width: 1200px) {
    section{
        background-color: #f9f9f9;
    }
 }
